.vscode
.codebuddy

archive/*
data/*
rawdata/*
certs/

accounts.bean
beancount_config.py
config.yaml
env.yaml

!*/.gitkeep
__pycache__
china_bean_importer_config.py

# Web 相关
web/tailwindcss*
web/__pycache__
*.pyc
